.vs/WisconsinTest/v15/Server/sqlite3/storage.ide-wal
.vs/WisconsinTest/v15/Server/sqlite3/storage.ide-shm
.vs/WisconsinTest/v15/Server/sqlite3/storage.ide
.vs/WisconsinTest/v15/Server/sqlite3/db.lock
WisconsinTest/obj/Debug/WisconsinTest.csproj.CopyComplete
