
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartTest</title>
</head>
<body>
    <div>
        <h2 style="text-align: center;"><strong>Test Sortowania Wisconsin</strong></h2>
        <p>Opis...</p>
        <p>&nbsp;</p>

        <form method="post">
            <button type="button" onclick="location.href='@Url.Action("Test","Test")'">START</button>
        </form>
    </div>
</body>
</html>
