
@{
    Layout = "~/Views/Shared/_WSCTLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>StartTest</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
<body class="text-center">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="display-4">Rozpocznij Test</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        W tym teście musisz przypasować wyświetloną kartę do jednej z czterech, zaprezentowanych powyżej. Po kliknięciu karty, pojawi się informacja, czy karta została dopasowana dobrze, czy źle. Dzięki tej informacji musisz zgadnąć, jaka jest reguła dopasowania kart, czy jest to kolor, liczba, czy kształt na karcie. Reguły ulegają zmianie, więc po każdej zmianie trzeba ją na nowo odgadnąć.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="#" onclick="location.href='@Url.Action("Test","Test")'">Start</a>
                    <form method="post"></form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
