
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartTest</title>
</head>
<body>
<<<<<<< HEAD
    <div>
        <h2 style="text-align: center;"><strong>Test Sortowania Wisconsin</strong></h2>
        <p>Opis...</p>
        <p>&nbsp;</p>
=======

        <h2 style="text-align: center;"><strong>Test Sortowania Wiscounsin</strong></h2>
>>>>>>> 6e756fa3cf4c0da706be7c83010d16def11f4671

        <p>Test sortowania kart Wisconsin jest narzedziem wykorzystywanym przez psychologów
            w celu okreslenia zdolnosci myslenia abstrakcyjnego, rozumowania oraz zmiany
            nastawien pacjenta.</p>

            <form method="post">
                <button type="button" onclick="location.href='@Url.Action("Test","Test")'">START</button>
            </form>
</body>
</html>
